/* selectors can be used in different ways to target elements on the page,
there are a few different ways to target elements, listed below. */

/* element selectors target everything in the selected element */


html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
}

main {
    display: grid;
    grid-template-columns: auto 20%;
    grid-auto-rows: minmax(200px, auto);

}
/* class selectors target just elements of a given class name */

.subtext {
    font-weight: bold;
}

/* ID Selectors target just elements of a given id. There can only be one of a specific ID
on a given page. */

#walken-pic {
/* box model */
    border: 5px solid black;
    border-radius: 5px;

    padding: 1em;
    margin: 1em;

    /* margin-left: 300px; */

}

#article2 {
    background-color: deepskyblue;
    border-radius: 5px;
}
/* attribute selectors target only elements with a specific attribute */
a[type] {
    color:green;
}

a[type="nofollow"] {
    color: red;
}


.flex-container {
    display: flex;
}
 /* pseudo-class selectors apply the style only when the condition of the pseudo-class is met */
.flex-container:hover {
    background-color: coral;
}

/* pseudo-classes are permanent style applicators that use a parent element to
help them target something */
p::first-letter {
    font-weight: bolder;
    font-size: 130%;
}

footer {
    text-align: center;
    color:white;
    background-color: black;
    margin: 0;
    padding: 1em;
}

/* 
media queries can be used to target specific use cases, these 
can be helpful for building apps for both mobile and desktop */
@media screen and (max-width:720px) {
    body{
        color: white;
        background-color: black;
    } 
}



